#Header {
  text-align: center;
  background-color: rgb(7,17, 41);
}
#Footer{
  text-align: center;
  background-color: rgb(7,17, 41);
}
.First {
  color: rgb(189, 155, 0);
}
.link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.blueColor {
  color:rgb(7,17, 41);
}
#BlueBackground {
  background-color: rgb(225, 241, 255);
}
.yelloColor {
  font-size: 12px;
  color: rgb(189, 155, 0);
  text-transform: uppercase;
}
#whiteColor {
  color: white;
}
.GrayColor {
  color: gray;
}
.button {
  color: black;
  background-color: rgb(189, 155, 0);
  text-decoration: none;
}
#Photo {
  background-image: url("A.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
